<div class="d-flex justify-content-between container">
  <div>
    ID: <%= @user.id%><br>
    Name: <%= @user.name %><br>
    Email: <%= @user.email %><br>
    Phone: <%= @user.phone_number %><br>
    <%= button_to 'Back', posts_index_path, method: :get %>
  </div>
 
  
</div>
